// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.
:root {
  --anchor-color: #000;
  --anchor-color-hover: #0075ff;
  --brand: #0075ff;
  --brand-secondary: #abd5fd;
  --button-background-hover: #000;
  --button-background-hover-contrast: #fff;
  --footer: #fff;
  --main-header: #fff;
  --top-links: var(--main-header);
  --subnavigation: #fff;
}

// 04. Montserrat
// - - - - - - - - - - - - - - - - - - - - - - - - -

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: lighter;
  src: font-url("Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: font-url("Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: font-url("Montserrat-Bold.ttf");
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.public > .wrapper > header > *::before,
.proposal-dashboard > header > *::before {
  bottom: -1px;
}

.public > .wrapper > header > *::before,
.proposal-dashboard > header > *::before,
.top-links,
.top-bar {
  border-bottom: 1px solid #000;
}
/******************************************
*** MENU
******************************************/
.top-links a,
.account-menu.menu li a {
  color: initial;
}

.dropdown.menu > li.is-active > a {
  color: initial;
}

.subnavigation ul {
  text-align: center;
  @media only screen and (max-width: 768px) {
    text-align: left;
  }
}

.subnavigation a {
  color: initial;
  font-weight: 400;
}

.menu-button {
  color: initial;
}
/******************************************
*** HOME
******************************************/
//Destacados
.home-page .card .card-title {
  padding: 0 1rem;
}

.home-page .card p,
.home-page .card .sdg-tag-list {
  padding: 0 1rem;
}
/******************************************
*** HEADER
******************************************/
.jumbo {
  background: initial;
  margin-top: -26px;

  h1 {
    font-size: 2.4rem;
    line-height: 1em;
    text-transform: uppercase;
  }
}

.jumbo.header-card::before {
  background: none;
}

.header-image {
  position: absolute;
  top: 6px;
}

.header-card:has(>.header-image) {
  height: 453px;

  .row {
    position: relative;
    z-index: 1;
  }
}

.btn-jumbo {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.medium-display-none {
  display: none;
  @media only screen and (max-width: 768px) {
    display: initial;
  }
}

.button.expanded {
  text-wrap: nowrap;
}

.header-card-bg-image {

  /* Si la imagen es de 1710px x 475px, la proporción es 3/2 */
  aspect-ratio: 3.3 / 1;
  /* Centra la imagen y hace que cubra todo el contenedor */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%; /* Para que ocupe todo el ancho y la altura se calcule sola */

  &:hover {
    opacity: 0.8;
  }

  @media only screen and (max-width: 768px) {
    background: initial;
    background-image: none !important;
  }
}

.header-card-full-link {
  color: initial;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}
/******************************************
*** 3 columnas
******************************************/
.home-page .card a:hover:not(:focus) .figure-card img {
  transform: scale(1);
}
/******************************************
*** Estilos varios
******************************************/
